<ion-header>
  <ion-toolbar>
    <ion-title>update-user</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="gg1" (submit)="onSubmit1()" >
    <ion-item lines="full">
      <ion-label position="floating">FUll Name</ion-label>
      <ion-input type="text" required formControlName="fname"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-select placeholder="Intrested Event" formControlName="event">
        <ion-select-option value="Recruting_Event">Recruting Event</ion-select-option>
        <ion-select-option value="Product_Launch">Product Launch</ion-select-option>
        <ion-select-option value="Networking">Networking Event</ion-select-option>
        <ion-select-option value="Team_Building">Team Building Events</ion-select-option>
        <ion-select-option value="Conferance">Conferance</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger"  expand="block"  >Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
